* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  max-width: 100%;
}

.banner {
  position: relative;
  display: flex;
  justify-content: center;
}

.banner-img {
  width: 100%;
}

.banner-text {
  position: absolute;
}

.container {
  width: 1180px;
  margin: 0 auto;
}

.logo {
  position: relative;
  width: 140px;
  top: 30px;
}

.banner-title {
  position: relative;
  font-weight: 500;
  font-size: 48px;
  color: #fff;
  width: 600px;
  transform: translateY(50%);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
